.table{
    font-size: 18px;
}

.a-title {
    float: left;
    font-size: 20px;
    margin-bottom: 15px;
    color: #737373;
}

.table td{
    min-width: 70px;
    max-width: 700px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.paging {
    width: 90%;
    height: 40px;
    color: #999999;
    margin: auto;
}

select {
    font-size: 15px;
    margin: 18px 0 18px 10px;
    color: black;
}

.pageNum {
    font-size: 17px;
    width: 50%;
    text-align: right;
    margin-right: 10px;
    float: right;
}

.pageNum > .pageSpan {
    font-size: 17px;
    cursor: pointer;
    color: #337ab7;
}

.disabled{
    color: #999999;
    cursor: default;
}