.shadow {
    box-shadow: 0 0 10px #cbcaca;
}
.modelList{
    visibility: hidden;
}

.box{
    width: 800px;
    padding-top: 100px;
    margin: auto;
}

.info-diy{
    display: flex;
    margin-top: 40px;
    line-height: 22px;
}
.info-diy span{
    width: 120px;
    text-align: justify;
    font-size: 18px;
}

.info-diy span:nth-child(1){
    padding-left: 30px;
    text-align-last: justify;
}

.info-diy span:nth-child(2){
    font-size: 15px;
    margin-left: 50px;
    letter-spacing: 3px;
}